/*** ESSENTIAL STYLES ***/
#menu {
	background-color:#3e454c;
	width:100%;
	z-index:23;
	top:0
}
.sf-menu {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.sf-menu > li {
	float: left;
	z-index: 10;
	position:relative;
	border-radius:0;
	padding:20px 35px;
	}
ul.sf-menu > li > a {
	display:inline-block;
	z-index: 1;
	position: relative;
	font-size:12px;
	color:#ffffff;
	text-decoration:none;
	line-height:21px;
	text-transform:uppercase;
}
ul.sf-menu > li.current>a,
ul.sf-menu > li>a:hover,
ul.sf-menu > li.sfHover>a,
ul.sf-menu > ul > li.active>a  {
	color:#ff6f28
	}
.sf-menu .sf-mega {
	display: none;
	z-index: 99;
	position: absolute;
	z-index: 5;
	background-color:#3e454c;
	left:0;
	top:61px
}
/*** mega menu dropdown ***/
.sf-mega {
	padding:15px 0;
}
.sf-mega-section {
	display:table-cell;
}
.sf-mega-section >li {
	position:relative;
	padding:4px 20px;
	width:170px;
	line-height:20px;
}
.sf-mega-section >li a:hover, .sf-mega-section >li.sfHover>a {
	color:#ff6f28
}
.sf-mega-section >li a {
	color:#fff;
}
.sf-mega-section >li ul {
	position:absolute;
	left:170px;
	width:170px;
	background-color:#3e454c;
	padding:15px 20px;
	top:-15px;
	z-index:10;
	display:none;
}
.sf-mega-section >li ul li{
	padding:4px 0
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content:'\f107';
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height:0;
	height: auto;
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: middle;
	width:1.45em;
	padding-left:3px;
	font-size:16px;
	color:#fff;
}
.sf-mega-section .sf-with-ul:after {
	content:'\f105';
	font-size:16px;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/*****************************************************/
#menu-icon {
	background: #c2c2c2;
	color: #000;
	cursor: pointer;
	display: block;
	font-size: 15px;
	line-height: 18px;
	font-weight: 500;	
	padding:11px 15px 11px 20px;
	text-transform: uppercase;
	position:relative;
	border-radius:6px 6px 0 0;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
}
#menu-icon:after {
	float:right;
	content:"\f13a";
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: inline;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	height: auto;	
	margin-top: 0;
	text-decoration: inherit;
	vertical-align: baseline;
	width: auto;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	width: 1.25em;
	font-size:15px;
	line-height:18px;
	color:#fff;
	vertical-align:middle;
}
#menu-icon:hover:after {
	color:#3598db;
	}
#menu-icon.active:after {
	content:"\f139";	
	}
.sf-menu-phone {display:none;}
.sf-menu-phone li { 
	position: relative;
}
.sf-menu-phone li a {
	display: inline-block;  
	color: #777;
	font-size:13px;
	font-weight:500;
	text-transform:uppercase;
	border-bottom:1px solid #dcdcdc;
}
.sf-menu-phone  li {  
	font-size: 19px;
	padding: 0; 
}
.sf-menu-phone  li > a {
	padding: 10px 15px; 
	display: block;
}
.sf-menu-phone  li li  a {
	padding: 10px 15px 10px 25px;
	display: block;
}
.sf-menu-phone  li li li a {
	padding: 10px 15px 10px 35px;
	display: block;
}
.sf-menu-phone li a:hover {
	color: #B90100; 
}
.sf-menu-phone li li {
	font-size: 14px;
}
.sf-menu-phone li li.last {
	padding-bottom: 0 !important;  
}
.sf-menu-phone li i {
	position: absolute;
	display: block;
	top: 2px;
	right: 0;
	height: 24px;
	width: 24px;
	padding-right:0;
}
.sf-menu-phone  li  i {
	display:block;
	top: 0;
	color:#999;
	font-size:15px;
	line-height:38px;
	height:40px;
	width:48px;
	text-align:center;
	right:0;
}
.sf-menu-phone  li i.icon-angle-up:before {
	content:'\f106' !important
}
.sf-menu-phone li i:hover {
	cursor: pointer; 
	color:#3598db;
}
.sf-menu-phone li i.opened {
	background-position: center 7px; 
}
/** dropdown **/
.sf-menu-phone ul {
	width: auto;
	padding: 0 0;
	display: none;  
}

.sf-menu-phone  li:hover > a ,
.sf-menu-phone  li.active > a,
.sf-menu-phone  li a:hover,
.sf-menu-phone  li a.active{
	color: #3598db;
}

